# START CRON JOB

# At minute 0 past every 2nd hour from 6 through 20.
0 6-20/2 * * * /usr/local/bin/python /app/crawler.py > /proc/1/fd/1 2>/proc/1/fd/2

# At every 15th minute past every hour from 7 through 20.   
*/15 7-20 * * * /usr/local/bin/python /app/discordBot.py > /proc/1/fd/1 2>/proc/1/fd/2
# END CRON JOB